<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easyticket">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewFeedback"></activity>
        <activity android:name=".UpdateFeedback" />
        <activity android:name=".MoreInfo2" />
        <activity android:name=".MoreInfo1" />
        <activity android:name=".MoreInfo" />
        <activity android:name=".Theaters_add" />
        <activity android:name=".Feedback">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".admin_login" />
        <activity android:name=".admin_info" />
        <activity android:name=".deletepayment" />
        <activity android:name=".booking" />
        <activity android:name=".ticket">

        </activity>
        <activity android:name=".payment" />
    </application>

</manifest>